openapi: 3.2.0
info:
  title: 3PL Warehouse Manager (SecureWMS) REST Warehouses API
  description: REST API for 3PL Warehouse Manager, the cloud warehouse management system (WMS) for third-party logistics providers, sold under Extensiv and historically known as "3PL Central".
  version: '1.0'
  contact:
    name: Extensiv - 3PL Warehouse Manager Developer Community
    url: https://developer.3plcentral.com/
  license:
    name: Proprietary
    url: https://www.extensiv.com/legal
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager (SecureWMS) production
security:
- bearerAuth: []
tags:
- name: Warehouses
  description: Facilities and their bin locations.
paths:
  /inventory/facilities:
    get:
      operationId: listFacilities
      tags:
      - Warehouses
      summary: List warehouses / facilities
      description: Lists the physical facilities (warehouses) in the account. DOCUMENTED in the developer portal; the facilities collection is the parent of the CONFIRMED /inventory/facilities/{facilityId}/locations resource. MODELED.
      x-endpoint-status: modeled
      parameters:
      - $ref: '#/components/parameters/pgnum'
      - $ref: '#/components/parameters/pgsiz'
      - $ref: '#/components/parameters/rql'
      responses:
        '200':
          description: A page of facilities.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /inventory/facilities/{facilityId}/locations:
    get:
      operationId: listFacilityLocations
      tags:
      - Warehouses
      summary: List bin locations in a facility
      description: Lists the bin/pick locations within a facility. Paged/filterable. CONFIRMED (GET /inventory/facilities/{facilityId}/locations).
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/facilityId'
      - $ref: '#/components/parameters/pgnum'
      - $ref: '#/components/parameters/pgsiz'
      - $ref: '#/components/parameters/rql'
      responses:
        '200':
          description: A page of locations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ResourceListResponse:
      type: object
      description: HAL-style list payload. Records are carried under ResourceList.
      properties:
        TotalResults:
          type: integer
        ResourceList:
          type: array
          items:
            type: object
            additionalProperties: true
        _links:
          type: object
          additionalProperties: true
  parameters:
    pgsiz:
      name: pgsiz
      in: query
      description: Page size (records per page).
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
    rql:
      name: rql
      in: query
      description: Resource Query Language filter, e.g. "readonly.lastModifiedDate=ge=2024-01-01". Reference http://api.3plcentral.com/rels/rql.
      required: false
      schema:
        type: string
    facilityId:
      name: facilityId
      in: path
      required: true
      description: The facility (warehouse) identifier.
      schema:
        type: integer
    pgnum:
      name: pgnum
      in: query
      description: Page number (1-based).
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
  responses:
    Unauthorized:
      description: Missing, invalid, or expired access token.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived access token from POST /AuthServer/api/Token.
    basicAuth:
      type: http
      scheme: basic
      description: Base64-encoded "clientId:clientSecret" used only to obtain a token.
