openapi: 3.2.0
info:
  title: 3PL Warehouse Manager (SecureWMS) REST Authentication API
  description: REST API for 3PL Warehouse Manager, the cloud warehouse management system (WMS) for third-party logistics providers, sold under Extensiv and historically known as "3PL Central".
  version: '1.0'
  contact:
    name: Extensiv - 3PL Warehouse Manager Developer Community
    url: https://developer.3plcentral.com/
  license:
    name: Proprietary
    url: https://www.extensiv.com/legal
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager (SecureWMS) production
security:
- bearerAuth: []
tags:
- name: Authentication
  description: OAuth 2.0 client-credentials token issuance.
paths:
  /AuthServer/api/Token:
    post:
      operationId: getAccessToken
      tags:
      - Authentication
      summary: Issue an OAuth 2.0 access token
      description: Exchanges Base64-encoded client credentials (Basic auth header) for a short-lived bearer access token using the client_credentials grant. CONFIRMED against the Extensiv "Providing REST API Access" documentation.
      x-endpoint-status: confirmed
      security:
      - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: An access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Token lifetime in seconds (typically 1800-3600).
    TokenRequest:
      type: object
      required:
      - grant_type
      properties:
        grant_type:
          type: string
          example: client_credentials
        user_login_id:
          type: integer
          description: User login id provided by the warehouse, used for auditing.
  responses:
    Unauthorized:
      description: Missing, invalid, or expired access token.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived access token from POST /AuthServer/api/Token.
    basicAuth:
      type: http
      scheme: basic
      description: Base64-encoded "clientId:clientSecret" used only to obtain a token.
