openapi: 3.2.0
info:
  title: 3PL Warehouse Manager (SecureWMS) REST Receivers API
  description: REST API for 3PL Warehouse Manager, the cloud warehouse management system (WMS) for third-party logistics providers, sold under Extensiv and historically known as "3PL Central".
  version: '1.0'
  contact:
    name: Extensiv - 3PL Warehouse Manager Developer Community
    url: https://developer.3plcentral.com/
  license:
    name: Proprietary
    url: https://www.extensiv.com/legal
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager (SecureWMS) production
security:
- bearerAuth: []
tags:
- name: Receivers
  description: Inbound receivers (Advance Ship Notices).
paths:
  /inventory/receivers:
    get:
      operationId: listReceivers
      tags:
      - Receivers
      summary: List receivers (ASN)
      description: Lists inbound receivers (Advance Ship Notices). A receiver can be looked up by tracking/reference number via rql. DOCUMENTED (GET /inventory/receivers); response is MODELED here.
      x-endpoint-status: modeled
      parameters:
      - $ref: '#/components/parameters/pgnum'
      - $ref: '#/components/parameters/pgsiz'
      - $ref: '#/components/parameters/rql'
      responses:
        '200':
          description: A page of receivers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createReceiver
      tags:
      - Receivers
      summary: Create a receiver (ASN)
      description: Creates an inbound receiver (Advance Ship Notice) the warehouse will receive goods against. DOCUMENTED (POST /inventory/receivers); request body is MODELED here.
      x-endpoint-status: modeled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiverCreate'
      responses:
        '201':
          description: The created receiver.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receiver'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /inventory/receivers/{receiverId}:
    get:
      operationId: getReceiver
      tags:
      - Receivers
      summary: Retrieve a receiver (ASN)
      description: Retrieves a single inbound receiver by id. DOCUMENTED (GET /inventory/receivers/{id}); response is MODELED here.
      x-endpoint-status: modeled
      parameters:
      - $ref: '#/components/parameters/receiverId'
      responses:
        '200':
          description: The receiver.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receiver'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    FacilityIdentifier:
      type: object
      properties:
        Id:
          type: integer
        Name:
          type: string
    CustomerIdentifier:
      type: object
      properties:
        Id:
          type: integer
        Name:
          type: string
    ResourceListResponse:
      type: object
      description: HAL-style list payload. Records are carried under ResourceList.
      properties:
        TotalResults:
          type: integer
        ResourceList:
          type: array
          items:
            type: object
            additionalProperties: true
        _links:
          type: object
          additionalProperties: true
    ItemIdentifier:
      type: object
      properties:
        Id:
          type: integer
        Sku:
          type: string
    ReceiverCreate:
      type: object
      required:
      - CustomerIdentifier
      properties:
        CustomerIdentifier:
          $ref: '#/components/schemas/CustomerIdentifier'
        FacilityIdentifier:
          $ref: '#/components/schemas/FacilityIdentifier'
        ReferenceNum:
          type: string
        PoNum:
          type: string
        ExpectedDate:
          type: string
          format: date-time
        ReceiveItems:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
    OrderItem:
      type: object
      properties:
        ItemIdentifier:
          $ref: '#/components/schemas/ItemIdentifier'
        Qty:
          type: number
        SecondaryQty:
          type: number
    Receiver:
      allOf:
      - $ref: '#/components/schemas/ReceiverCreate'
      - type: object
        properties:
          ReceiverId:
            type: integer
          ReadOnly:
            type: object
            additionalProperties: true
  responses:
    NotFound:
      description: The requested resource was not found.
    BadRequest:
      description: The request payload failed validation.
    Unauthorized:
      description: Missing, invalid, or expired access token.
  parameters:
    pgsiz:
      name: pgsiz
      in: query
      description: Page size (records per page).
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
    receiverId:
      name: receiverId
      in: path
      required: true
      description: The receiver (ASN) identifier.
      schema:
        type: integer
    rql:
      name: rql
      in: query
      description: Resource Query Language filter, e.g. "readonly.lastModifiedDate=ge=2024-01-01". Reference http://api.3plcentral.com/rels/rql.
      required: false
      schema:
        type: string
    pgnum:
      name: pgnum
      in: query
      description: Page number (1-based).
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived access token from POST /AuthServer/api/Token.
    basicAuth:
      type: http
      scheme: basic
      description: Base64-encoded "clientId:clientSecret" used only to obtain a token.
