openapi: 3.2.0
info:
  title: 3PL Warehouse Manager (SecureWMS) REST Packages API
  description: REST API for 3PL Warehouse Manager, the cloud warehouse management system (WMS) for third-party logistics providers, sold under Extensiv and historically known as "3PL Central".
  version: '1.0'
  contact:
    name: Extensiv - 3PL Warehouse Manager Developer Community
    url: https://developer.3plcentral.com/
  license:
    name: Proprietary
    url: https://www.extensiv.com/legal
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager (SecureWMS) production
security:
- bearerAuth: []
tags:
- name: Packages
  description: Packages (cartons) on a shipped order.
paths:
  /orders/{orderId}/packages:
    get:
      operationId: getOrderPackages
      tags:
      - Packages
      summary: Retrieve packages for an order
      description: Lists the packages (cartons) on a shipped order - dimensions, weight, tracking numbers, and contained items. Order packages are a documented sub-resource of an order; the standalone shape is MODELED here.
      x-endpoint-status: modeled
      parameters:
      - $ref: '#/components/parameters/orderId'
      responses:
        '200':
          description: The order's packages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    orderId:
      name: orderId
      in: path
      required: true
      description: The order identifier.
      schema:
        type: integer
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: Missing, invalid, or expired access token.
  schemas:
    ResourceListResponse:
      type: object
      description: HAL-style list payload. Records are carried under ResourceList.
      properties:
        TotalResults:
          type: integer
        ResourceList:
          type: array
          items:
            type: object
            additionalProperties: true
        _links:
          type: object
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived access token from POST /AuthServer/api/Token.
    basicAuth:
      type: http
      scheme: basic
      description: Base64-encoded "clientId:clientSecret" used only to obtain a token.
