openapi: 3.2.0
info:
  title: 3PL Warehouse Manager (SecureWMS) REST Stock Summaries API
  description: REST API for 3PL Warehouse Manager, the cloud warehouse management system (WMS) for third-party logistics providers, sold under Extensiv and historically known as "3PL Central".
  version: '1.0'
  contact:
    name: Extensiv - 3PL Warehouse Manager Developer Community
    url: https://developer.3plcentral.com/
  license:
    name: Proprietary
    url: https://www.extensiv.com/legal
servers:
- url: https://secure-wms.com
  description: 3PL Warehouse Manager (SecureWMS) production
security:
- bearerAuth: []
tags:
- name: Stock Summaries
  description: Rolled-up on-hand / available / allocated quantities.
paths:
  /inventory/stocksummaries:
    get:
      operationId: getStockSummaries
      tags:
      - Stock Summaries
      summary: Retrieve stock summaries
      description: Rolled-up on-hand / available / allocated / committed quantities keyed by facility and item. List payload is carried under a Summaries property. CONFIRMED (GET /inventory/stocksummaries).
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/pgnum'
      - $ref: '#/components/parameters/pgsiz'
      - $ref: '#/components/parameters/rql'
      responses:
        '200':
          description: A page of stock summaries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummariesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    StockSummary:
      type: object
      properties:
        FacilityId:
          type: integer
        ItemId:
          type: integer
        Sku:
          type: string
        OnHand:
          type: number
        Available:
          type: number
        Allocated:
          type: number
        Committed:
          type: number
    SummariesResponse:
      type: object
      description: Stock summaries list payload. Records are carried under Summaries.
      properties:
        TotalResults:
          type: integer
        Summaries:
          type: array
          items:
            $ref: '#/components/schemas/StockSummary'
        _links:
          type: object
          additionalProperties: true
  parameters:
    pgsiz:
      name: pgsiz
      in: query
      description: Page size (records per page).
      required: false
      schema:
        type: integer
        minimum: 1
        default: 100
    rql:
      name: rql
      in: query
      description: Resource Query Language filter, e.g. "readonly.lastModifiedDate=ge=2024-01-01". Reference http://api.3plcentral.com/rels/rql.
      required: false
      schema:
        type: string
    pgnum:
      name: pgnum
      in: query
      description: Page number (1-based).
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
  responses:
    Unauthorized:
      description: Missing, invalid, or expired access token.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived access token from POST /AuthServer/api/Token.
    basicAuth:
      type: http
      scheme: basic
      description: Base64-encoded "clientId:clientSecret" used only to obtain a token.
